# SUMMER ANALYTICS 2022

# Week-1 Assignment

# **Gotta catch 'em all !**

![download.jpg]()

**Welcome to your first assignment of Summer Analytics 2022! We hope you are excited to implement and test everything you have learnt up until now. The dataset which you'll use includes information about Pokemons.**

**We've got an interesting set of questions for you to get a basic understanding of pandas and data visualization libraries. GOOD LUCK!**


***Let's get started with importing numpy, pandas, seaborn and matplotlib!***

Note - matplotlib should be imported with the command :

 `import matplotlib.pyplot as plt`

### 1) Start by importing all important libraries
For eg, "import numpy as np"

In [2]:
import numpy as np
import pandas as pd

### 2) Read the csv file and assign it to a variable .

In [9]:
df= pd.read_csv('SA2022_W1_Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 3) Display shape of dataframe
Expected Output - (800, 13)

In [5]:
df.shape

(800, 13)

### 4) Print all columns of dataframe
Return an array containing names of all the columns.

In [6]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### 5) Remove the column '#' and update the dataframe.

In [10]:
df.drop('#',axis=1, inplace =True)
df.columns

Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### 6) Set the 'Name' column as the index of dataframe

In [11]:
df.set_index('Name')

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

###  7) Print a list of all the unique Type-1 powers

In [13]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

### 8) Create a column which contains the Type 1 and Type 2 abilities of pokemons, seperated with a '+'' sign. Also, display the no. of pokemons that have type-1 power as 'Psychic' and type 2 power as 'Flying' using this new column.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [24]:
df['Type_1_2'] = df['Type 1'].astype(str) + " + " + df['Type 2'].map(str)
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type_1_2
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass + Poison
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass + Poison
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass + Poison
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass + Poison
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Fire + nan

In [28]:
df[df.Type_1_2.isin(['Psychic + Flying'])]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type_1_2
191,Natu,Psychic,Flying,320,40,50,45,70,45,70,2,False,Psychic + Flying
192,Xatu,Psychic,Flying,470,65,75,70,95,70,95,2,False,Psychic + Flying
269,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True,Psychic + Flying
586,Woobat,Psychic,Flying,313,55,45,43,55,43,72,5,False,Psychic + Flying
587,Swoobat,Psychic,Flying,425,67,57,55,77,55,114,5,False,Psychic + Flying
622,Sigilyph,Psychic,Flying,490,72,58,80,103,80,97,5,False,Psychic + Flying

In [56]:
df['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

## GRADED Questions (To be answered in the quiz)
### Try to retrieve some information from the data and answer the questions below . BEST OF LUCK !!

### 1. How many pokemons have 'Mega' in their name?

In [37]:
df[df.Name.str.contains('Mega')].shape

(49, 13)

### 2. What is the standard deviation of Sp. Def. in the dataset ?

In [38]:
#your code here
df['Sp. Def'].std()

27.82891579711746

### 3. What percentage (upto 3 decimal places) of pokemons are legendary ?

In [41]:
#your code here
df.Legendary.value_counts(normalize = True)

False    0.91875
True     0.08125
Name: Legendary, dtype: float64

### 4. Name the pokemon(s) with Maximum Defense.

In [50]:
#your code here
maximum = df.Defense.max()
maximum
df[df.Defense == maximum]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type_1_2
224,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False,Steel + Ground
230,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,Bug + Rock
333,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False,Steel + nan

### 5. Which poison pokemon has the strongest attack ?

In [70]:
#your code here
maxi = df.Attack.max()
df2=df[df.Type_1_2.str.contains('Poison')]
df2.sort_values('Attack', ascending = False)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type_1_2
19,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,Bug + Poison
504,Toxicroak,Poison,Fighting,490,83,106,65,86,65,85,4,False,Poison + Fighting
96,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False,Poison + nan
77,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False,Grass + Poison
39,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False,Poison + Ground
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Tentacool,Water,Poison,335,40,40,35,50,100,70,1,False,Water + Poison
99,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False,Ghost + Poison
16,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,Bug + Poison
451,Budew,Grass,Poison,280,40,30,35,50,70,55,4,False,Grass + Poison
17,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,Bug + Poison

In [72]:
df[(df['Type 1'] == 'Psychic') & (df['Type 2'] == 'Flying')]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type_1_2
191,Natu,Psychic,Flying,320,40,50,45,70,45,70,2,False,Psychic + Flying
192,Xatu,Psychic,Flying,470,65,75,70,95,70,95,2,False,Psychic + Flying
269,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True,Psychic + Flying
586,Woobat,Psychic,Flying,313,55,45,43,55,43,72,5,False,Psychic + Flying
587,Swoobat,Psychic,Flying,425,67,57,55,77,55,114,5,False,Psychic + Flying
622,Sigilyph,Psychic,Flying,490,72,58,80,103,80,97,5,False,Psychic + Flying

In [74]:
df['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [84]:
df.groupby(by='Generation')['Legendary'].value_counts()

Generation  Legendary
1           False        160
            True           6
2           False        101
            True           5
3           False        142
            True          18
4           False        108
            True          13
5           False        150
            True          15
6           False         74
            True           8
Name: Legendary, dtype: int64

In [93]:
df[(df['Type 1']=='Ghost') & (df['Generation'] == 4)].sort_values('Speed')

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type_1_2
490,Spiritomb,Ghost,Dark,485,50,92,108,92,108,35,4,False,Ghost + Dark
529,Dusknoir,Ghost,NaN,525,45,100,135,65,135,45,4,False,Ghost + nan
472,Drifloon,Ghost,Flying,348,90,50,34,60,44,70,4,False,Ghost + Flying
473,Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,False,Ghost + Flying
544,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True,Ghost + Dragon
545,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True,Ghost + Dragon
477,Mismagius,Ghost,NaN,495,60,60,60,105,105,105,4,False,Ghost + nan

In [94]:
df[df['Legendary']]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type_1_2
156,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,Ice + Flying
157,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,Electric + Flying
158,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,Fire + Flying
162,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,Psychic + nan
163,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,Psychic + Fighting
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Rock + Fairy
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Rock + Fairy
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Psychic + Ghost
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Psychic + Dark
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Fire + Water

### 6. Using seaborn make different types of plots, observe the trend and answer the questions given in the form.

In [ ]:
#your code here

In [ ]:
#your code here

In [ ]:
#your code here

### 7. Which is the second fastest non-legendary 'Ghost' type pokemon from 4th generation ?

In [ ]:
#your code here

### 8. How many non-legendary pokemons have stronger defence but weaker attack than Charizard?

In [ ]:
#your code here


## *Congratulations on coming this far! Since we were having so much fun playing with this dataset, here are some bonus questions that you can try to further deepen your understanding of the topic!*

### **Note:** These questions are UNGRADED, and are given as an extra exercise.

### Which pokemon has the highest combined value of Attack and Sp. Atk ?

In [ ]:
#your code here

### Which type of legendary pokemons are the most common?

In [ ]:
#your code here

### How many generation-3, non-legendary pokemons have higher HP than the weakest generation-6, legendary pokemon?

In [ ]:
#your code here

### Print out the third slowest pokemon(s) in the dataset.

In [ ]:
#your code here

### Which pokemon type has the highest average HP?

In [ ]:
#your code here